project_id            = "your-gcp-project-id"
region                = "us-central1"
service_name          = "cloub-sm"
container_image       = "us-docker.pkg.dev/your-project/your-repo/your-image:tag"
allow_unauthenticated = true

# environment_variables = {
#   NODE_ENV = "production"
# }
